@charset "utf-8";

@font-face  {
    font-family: 'Cursiva2';
    src: url('fonts/Sparkling Horizon.ttf') format('truetype'), url('fonts') format('opentype');
}


:root { /*aquilo dentro de root é algo que se aplica a todas as pastas e arquivos dentro do código*/
    --cor0: darkblue; 
    --cor1: darkred;
    --cor2: rgb(163, 120, 26);
    --cor3: rgb(87, 87, 87);

    --fonte_padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Cursiva2'
    /*
    -- indica uma variável, assim, pode-se usar isso para manter ideias e colocar dentro do texto apenas a ideia. Assim, se for preciso alterar algo depois, muda-se apenas a variável inves de alterar coisa por coisa no texto, além de tornar mais semântico.
    */
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
    transition-duration: 0.5s;
}

menu {
    display: none; /*Faz o conteudo ficar oculto ate que algo o faça aparecer*/
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: var(--cor2);
    text-align: center;
    color: white;
    border-top: 2px solid gray;
}
    
menu > ul > li > a:hover  {
    background-color: gray;
}

header > h1 {
    color: white;
    text-transform: uppercase;
}

header > p {
    color: white;
    text-transform: small-caps;
}

span#burguer {
    display: block;
    background-color: var(--cor3);
    padding: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: black;

}

main {
    min-width: 320px;
    max-width: 1100px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
body {
    background-color: rgb(166, 201, 207);
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
    font: lighter 1em Arial, Helvetica, sans-serif;

        /* 
    invés de usar:
    font-style
    font-weight
    font-size
    font-family
    Usa-se apenas uma linha, mas tudo deve estar na ordem correta.
    O nome disso é shorthand
    */ 
    /*
    Para fontes importadas, precisa especificar que é importantada colocando a fonte entre ' ' e as outras não precisa
    FOntes importadas se cola o link embed delas do google fonts ou outras fontes com @import URL no começo do styul==le css, e o nome da fonte no style*/

}
div, section, nav {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 15px;            
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
h1 {
    background-color: rgb(212, 175, 95);
    color: var(--cor0);
    height: 50px;
    width: auto;
    text-align: center; /*center centraliza*/
    /*usar shorthands colocando as medidas de cima no sentido horário e depois o tipo(solido, tracejado, etc) e a cor*/

    border: 10px dashed rgb(105, 66, 66);  /*10px para cima, baixo, dir, esq.*/
    margin: 10px 20px; /*10px para cima-baixo e 20px para dir. esq.*/
    padding: 10px 10px 10px 50px; /*10px para cima, dir. baixo e 50px para esq.*/
    outline: 2px solid rgb(105, 66, 66); 
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 2px 20px;

}
h1#titulo_login {
    background-color: transparent;
    color: black;
    height: 50px;
    width: auto;
    text-align: center;
    
    border: none;
    margin: none;
    padding: none;
    outline: none; 
    box-shadow: none;
    border-radius: none;
}

h2, h3 {
    color: var(--cor1);
}
img {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: block; /* <img> é inline block então pra mostrar centralizado precisa converter para block com display block*/
}
a.externo::after {
    content: '\00A0\1F517';
}
    
ul, ol {
    list-style-position: inside;
}

#UL_com_colunas {
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

audio {
    width: 100%;
    max-width: 500px;
}
div.video {
    background-color: blueviolet;
    position: relative;
    margin: 0px -20px;
    padding: 20px;
    padding-bottom: 50%;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;    
}
#s2 {
    background-image: linear-gradient(to left, blue, white);;
}
#exemplo_com_font-face {
    font-family: var(--fonte-destaque);
    background-color: all;
    width: 100%;
}
#backgroundgimge_text {
    background-image: url(https://services.meteored.com/img/article/por-que-el-mar-es-de-color-azul-1685269749165_1024.jpeg);
    background-size: cover; /*Faz toda a imagem aparecer no fundo*/
    background-position: center; /*Centraliza a imagem, da pra usar pra colocar no lado direto, por exemplo*/
    background-attachment: fixed; /*faz a imagem ficar parada enquanto que o site se movimenta*/
}

 table {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    border: 3px solid red;
    table-layout: fixed; /*Deixar todas as colunas e linhas com a mesma largura*/
    position: relative; /*Pra deixar o cabeçalho fixado*/
    overflow-x: auto;
}

thead > tr > th { /*Pra deixar o cabeçalho fixado (usar junto do table {position: relative;}*/
    position: sticky;
    top: -1px;
    background-color: white;
}

tr.linha {
    background-color: lightgray;
}
td, th {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle; /*top middle e bottom*/
    /*Pode substituir "border: 1px solid black;" por 
    border: 1px;
    border-color: black;
    border-style: solid;    
    */
}

/*Fazer efeito zebrado*/

/*nth é enésino ou nth*/
tbody > tr:nth-child(odd) { /*usar 2n dentro dos parenteses para ir 1-sim-1-não oou 2n-1 para ter o mesmo efeito de odd*/
    background-color: lightgray;
}
tbody > tr:nth-child(even) { /*even=par e odd=ímpar */
    background-color: white;
}
pre {
    overflow-x: auto;
    background-color: lightgray;
}

caption {
    background-color: gray;
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
}
.c2 { /*Não está funcionando - estilo de colunas*/
    color: red;
}

footer {
    background-color: blue;
    margin: 15px;
    border-radius: 20px;
    color: white;
    text-align: center;
}
footer > a {
    color: chartreuse;
    text-decoration: none;
}
footer a:hover {
    background-color: black;
    text-decoration: underline chartreuse;
}
div#tabela {
    overflow-x: auto; /*não funcionando*/
}

div#telefone {
    position: relative;
    top: 50%;
    top: 50%;
    margin: auto;
    height: 627px;
    width: 311px;
    background: url(imagens/frame-iphone.png) no-repeat; 
}

section#telefone {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: contain;
}

iframe#android {
    position: relative;
    width: 269px;
    height: 471px;
    top: 60px;
    left: -27px;

}

section#redes_sociais {
    text-align: center;
} 

section#redes_sociais img {
    width: 50px; /*ajustando a largura já se ajusta a altura*/
    border-radius: 50%;/*se 50% da imagem é uma borda, então ela vira um circulo*/
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box; /*indica que a borda do objeto faz parte dele, logo é colocada em volta sem afetar o posiscionamento dele*/
}

section#redes_sociais img:hover {
    border: 2px solid black;
    transform: translate(-4px, -4px);
    transition: transform 0.1s;
}

#Identificação_Aleatória {
    background-color: rgb(175, 152, 152);
    text-align: left;
    }
    /*começo do hover de teste*/

    .teste > p  {
        display: none;
    }
    .teste:hover > p {
        display: block;
        font-style: italic;
        font-weight: bold;
    }
    /*fim do hover de teste*/

     /*começo do hover de links*/
    a:hover {
        color: red;
    }
    nav > a:hover {
        font-size: 1.5em;
    }
    a:visited {
        color: green;
    }
    a:active {
        color: yellow;
    }
    /*fim dos hover de links*/

    a::after {
        content: " ⇗";
        text-decoration: none;
        font-weight: normal;
        color: magenta;
    
    }

    /*
    # = id
    . = class
    : = pseudo-class
    :: = pseudo-element
    > = children
    */

    
#final {
    background-color: brown;
    padding: 10px;
    text-align: center;
}

div#inicial  > figure {
    max-width: 300px;
    display: inline-block;
    margin-top: 20px;   
}

#Login {
    min-height: 500px;
    padding: 0px;
    overflow: hidden; /*Tudo fora da borda fica escondido, nao funcionando*/
}

#formulario_de_login {
    display: block;
    float: left; 
}

#imagem_de_login {
    display: block;
    float: right;
    height: 500px;
    width: 50%;
}

form.campo {
    background-color: blueviolet;
    border-radius: 8px;
}

form.campo > input:focus-within { /*Não funcionando*/
    background-color: violet;
}

#itestesenha {
    width: calc(100% - 200px);
    border-radius: 8px;
    margin: 5px 5px 0px 5px;
}

#itesteemail {
    width: calc(100% - 200px);
    border-radius: 8px;
    margin: 0px 5px 5px 5px;
}



@media screen and (max-width: 767px) {
    #Login {
        min-height: 500px;
        padding: 0px;
        overflow: hidden;
    }
    #formulario_de_login {
        display: block;
    }
    #imagem_de_login {
        display: block;
        width: 100%;

        height: 250px;
        background-size: contain;
    }
}

@media screen and (min-width: 768px, max-width: 1079px) { /*Bugado em tamanahos de tela medios*/
    #formulario_de_login {
        display: block;
        float: left; 
    }
    
    #imagem_de_login {
        display: block;
        float: right;
        height: 500px;
        width: 30%;
        background-size: contain;
    }
}

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }    
    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
    }
}

